@import '~bootstrap/scss/bootstrap';

#carouselExampleIndicators {
  background-color: gray;
}

.item-container {
  background-color: gray;
  color: white;
  margin-top: 10rem;
}

.card-container {
  background-color: white;
}

.card {
  border: none;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: gray;
  margin: 0 auto;
}

.rectangle {
  max-width: 500px;
  height: 500px;
  background: #ddd;
}

.rect-text {
  vertical-align: top;
  position: relative;
  top: 250px;
  font-size: 24px;
}

@include media-breakpoint-up(xs) {
  .feature-two {
    order: 1;
  }
}

@include media-breakpoint-up(lg) {
  .feature-two {
    order: 0;
  }
}